# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

# MAT files
*.mat

# RESULTS files
*.h5

# Cache files
*.pyc

# Token files
*.tok

# Unused folders
*/results/*
*/data/*
*/trash/*
